using TP_07_PREGUNTA2.Models;
@{
    ViewData["Title"] = "Juego";
    
       
}

@{
    ViewBag.Title = "Pregunta Juego";
    Respuesta r=ViewBag.LRespuestaPregunta[0];
     Respuesta r2=ViewBag.LRespuestaPregunta[1];
      Respuesta r3=ViewBag.LRespuestaPregunta[2];
       Respuesta r4=ViewBag.LRespuestaPregunta[3];
}

<h2>@ViewBag.Pregunta.pregunta</h2>

<form action='@Url.Action("VerificarRespuesta", "JUEGO")' method="get">
    <div>
       
    <img src="@ViewBag.Pregunta.Foto" />
   <label>@ViewBag.Pregunta.Enunciado:</label>

<form method="post">
    <button type="submit" name="idRespuesta" value="1">@r.Contenido</button>
    <button type="submit" name="idRespuesta" value="2">@r2.Contenido</button>
    <button type="submit" name="idRespuesta" value="3">@r3.Contenido</button>
    <button type="submit" name="idRespuesta" value="4">@r4.Contenido</button>
</form>
    </div>
</form>